@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Список проектов";
}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2"><a asp-action="Create" asp-controller="Projects">Добавить проект</a></div>
        </div>
        <table class="table">
            <tbody>
                @foreach (var project in Model)
                {
                    <tr class="projects-row">
                        <td scope="row">@project.Name</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">Изменить</a>
                            <a asp-action="Delete" asp-controller="Projects" asp-route-id="@project.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>