@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col">
        <div class="filter_box d-flex ">
            <div class="search_box d-flex align-items-center">
                <input id="filter_search" type="text" name="serch" placeholder="Search..." />
                <img id="proj_search" class="icon_search" src="/img/filter/Vector.svg" alt="filter" />
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col">
                <h1 class="display-4">Welcome</h1>
        </div>
    </div>


