@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Poll backgrounds list";
    Layout = "_AdminPollsLayout";
}
<h6>Themes</h6>
<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var background in Model)
                {
                    <tr>
                        <td>@background.Name</td>
                        <td class="text-right">
                            <a asp-action="edit" asp-controller="backgrounds" asp-route-id="@background.Id" class="btn btn-outline-primary">Edit</a>
                            <a asp-action="delete" asp-controller="backgrounds" asp-route-id="@background.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
