@model Polls.Models.DtoModels.LoginDto
    <div class="container w-25 text-center pt-4">
        <form class="form-signin" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <img class="mb-4" src="https://it.astin.co/Content/img/logo.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" asp-for="Login" class="sr-only">Login</label>
            <input type="text" asp-for="Login" id="inputEmail" class="form-control mb-3" required="" autofocus="" placeholder="Login">
            <label for="inputPassword" asp-for="Password" class="sr-only">Password</label>
            <input type="password" id="inputPassword" asp-for="Password" class="form-control mb-3" placeholder="Password" required="">
            <div class="form-check mb-3 text-left">
                <input class="form-check-input checkbox" id="checkbox" type="checkbox">
                <label for="checkbox">
                   Do not Remember
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block w-50 m-auto" type="submit">Sign in</button>
        </form>
        <div class="text-black-50 mt-3 h5">OR</div>
        <button class="text-right btn btn-outline-info" id="SignUpBtn">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">© 2010-@DateTime.Now.Year</p>
    </div>
