@model Polls.Models.DbModels.QuestionAnswer
@{
    ViewBag.Title = "Удаление ответа";
    Layout = "_AdminPollsLayout";
}

<div class="container">
    <dl class="dl-horizontal">
        <dt>Ответ</dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>

    <div>
        <form asp-action="Delete" asp-controller="Answers" method="post">
            <div class="form-group text-center">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>